<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <package name="com.todo.dev.domain.dto"/>
        <package name="com.todo.dev.domain.request"/>
        <package name="com.todo.dev.domain.response"/>
    </typeAliases>
    <mappers>
        <mapper resource="mybatis/mapper/memberMapper.xml"/>
    </mappers>
</configuration>